@page
@model ArtModel
@{
    ViewData["Title"] = "Art Stuff";
}
<h1>@ViewData["Title"]</h1>

<p>This page displays art stuff.</p>
<p>Some random paintings.</p>
<p>my double helix.</p>
<p>hydroponics.</p>
